.analyticsContainer {
    position: absolute;
    width: 1336px;
    height: 200px;
    top: 169px;
    left: 380px;
  }
  
  .container {
    display: flex;
    gap: 11px;
  }
  
  .chart {
    flex: 1;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
  }
  
  .chart .innerChart {
    display: flex;
    gap: 10px;
  }
  
  .chart .innerChart .chartContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .chart h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 10px;
  
  }
  
  .count {
    font-size: 26px;
    font-weight: bold;
  }
  
  .smallCount {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .coloured {
    color: green;
    display: flex;
    align-items: center;
    background-color: rgba(1, 142, 66, 0.1);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .coloured i {
    width: 8px;
    height: 8px;
    background-color: #f00;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .chartContainer {
    margin-top: 10px;
  }
  
  .chart4 {
    height: 100%;
  }
  

  @media (max-width: 768px) {
    .analyticsContainer {
      position: relative;
      width: 100%;
      height: auto;
      top: initial;
      left: initial;
    }
  
    .container {
      flex-wrap: wrap;
    }
  
    .chart {
      flex: 1 0 100%;
      margin-bottom: 20px;
    }
  }
  