/* Header.module.css */

.headerBackground {
  position: absolute;
  width: 100%;
  height: 145px;
  background: #0c58e6;
  border-radius: 0px 0px 10px 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7.72px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
}

.heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
}

.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
}

.backgroundContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c58e6;
  border-radius: 50%;
  z-index: -1;
  overflow: hidden;
}

.ellipse4 {
  display: none; /* Hide on mobile */
}

.ellipse5 {
  display: none; /* Hide on mobile */
}

/* Media query for mobile devices */
@media only screen and (min-width: 600px) {
  .headerBackground {
    width: 1372px;
    height: 145px;
    left: 356px;
    top: 0;
  }

  .textContainer {
    width: 534px;
    top: 25.09px;
    left: 34.73px;
  }

  .heading {
    font-size: 48px;
  }

  .subtitle {
    font-size: 19px;
  }

  .backgroundContainer {
    width: 2038.33px;
    height: 2080.19px;
    left: 1893.01px;
    top: -224.81px;
  }

  .ellipse4 {
    display: block; /* Show on larger screens */
    position: absolute;
    width: 1577.88px;
    height: 1611.6px;
    left: 1424.42px;
    top: 5.42px;
    background: #ffffff;
    mix-blend-mode: multiply;
    opacity: 0.75;
    box-shadow: inset 23.1561px 30.8748px 177.53px 23.1561px
      rgba(6, 8, 89, 0.75);
    transform: rotate(90deg);
  }

  .ellipse5 {
    display: block; /* Show on larger screens */
    position: absolute;
    width: 2038.33px;
    height: 2080.19px;
    left: 1893.01px;
    top: -224.81px;
    background: #ffffff;
    mix-blend-mode: multiply;
    opacity: 0.75;
    box-shadow: inset 23.1561px 30.8748px 177.53px 23.1561px
      rgba(6, 8, 89, 0.75);
    transform: rotate(90deg);
  }
}
