
.container {
  position: fixed;
  width: 356px;
  height: 1117px;
  top: 5px;
}

.logo {
  width: 204px;
  height: 56.96104049682617px;
  margin-top: 40px;
  margin-left: 76px;
}

.dashboard {
  width: 195px;
  height: 40px;
  margin-top: 70px;
  margin-left: 34.9019775390625px;
  padding: 9.30718994140625px 27.92156982421875px;
  border-radius: 4.653594970703125px;
  background: rgba(13, 98, 255, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 19px;
  margin-bottom: 5px;
}

.categoryIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.menuList {
  margin-top: 5px;
  margin-left: 70px;
  background-color: white;
  padding: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 10px;
  padding: 9.30718994140625px 27.92156982421875px;
  border-radius: 4.653594970703125px;
  color: rgba(13, 98, 255, 1);
  font-family: Poppins;
  font-size: 19px;
  height: 40px;
}

.menuIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.separator {
  width: calc(100% - 20px);
  height: 1.885408639907837px;
  border: 1px solid rgb(197, 198, 201);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: white;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .container {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
  }

  .logo {
    margin: 20px auto;
  }

  .dashboard {
    width: 80%;
    margin: 20px auto;
  }

  .menuList {
    margin: 10px;
    padding: 5px;
  }

  .menuItem {
    margin-left: 75px;
    padding: 5px;
    font-size: 16px;
    height: 30px;
  }
}
